.form-group {
    margin-bottom: 50px;
}
.add-user-button{
margin-right: 75%;
}
.deactive{
    font-size: 20px;
    margin-right: 5px;
}
.edit{
    font-size: 20px;
    margin-right: 5px;
}
.delete{
    font-size: 20px;
    margin-right: 5px;
}
.active{
    font-size: 20px;
    margin-right: 5px;
}

.row {
    margin: 10px 0px;
}

select.form-control{
    height: auto !important;
}

.no-padding{
    padding: 0 !important;
}