#login-register-container {
  background-image: url('/assets/images/bg.png');
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}


.cube {
  max-width: 980px;
  width: 100%;
  text-align: center;
  max-height: 680px;
  height: 100%;
  position: relative;
}

.login,
.register {
  background: white;
  border: 1px solid rgba(147, 184, 189, .8);
  position: absolute;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  max-width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 5px 20px rgba(105, 108, 109, .3), 0 0 8px 5px rgba(208, 223, 226, .4) inset;
  box-shadow: 0 5px 20px rgba(105, 108, 109, .3), 0 0 8px 5px rgba(208, 223, 226, .4) inset;
  padding: 50px 10px 50px 10px;
  overflow: auto;
}

.login {
  display: block;
}

.register {
  display: block;
  
}

.right-border {
  border-right: 1px solid #e1e1e1;;
}

.cube.registration-side {
  max-height: 920px;
  height: 100%;
}



@media screen and (max-width: 750px) {
  #login-register-container {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    overflow: auto;
  }
  .cube,
  .login,
  .register {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .login, .register{
        padding:20px;
  }
  .cube.registration-side {
    height: auto;
  }
  .right-border {
    border: none;
  }
  .pull-right-sm {
    float: right;
  }
}
