<div class="main-part">
  <div class="heading">
    <h2>Channel news</h2>
    <p>Girone A</p>
  </div>
  <ul class="list-inline matches header">
    <li>Home team</li>
    <li>Away team</li>
    <li>Type</li>
    <li>Date</li>
  </ul>
  <perfect-scrollbar>
    <div class="scroll-matches">
      <ul class="list-inline matches">
        <li>
          <img src="assets/images/real.png" alt="Home team">
          <span>Real Madrid</span>
        </li>
        <li>
          <img src="assets/images/real.png" alt="Away team">
          <span>Real Madrid</span>
        </li>
        <li>Turno 28</li>
        <li>24-03-2017 18:00</li>
      </ul>
      <ul class="list-inline matches">
        <li>
          <img src="assets/images/real.png" alt="Home team">
          <span>Real Madrid</span>
        </li>
        <li>
          <img src="assets/images/real.png" alt="Away team">
          <span>Real Madrid</span>
        </li>
        <li>Turno 28</li>
        <li>24-03-2017 18:00</li>
      </ul>
      <ul class="list-inline matches">
        <li>
          <img src="assets/images/real.png" alt="Home team">
          <span>Real Madrid</span>
        </li>
        <li>
          <img src="assets/images/real.png" alt="Away team">
          <span>Real Madrid</span>
        </li>
        <li>Turno 28</li>
        <li>24-03-2017 18:00</li>
      </ul>
      <ul class="list-inline matches">
        <li>
          <img src="assets/images/real.png" alt="Home team">
          <span>Real Madrid</span>
        </li>
        <li>
          <img src="assets/images/real.png" alt="Away team">
          <span>Real Madrid</span>
        </li>
        <li>Turno 28</li>
        <li>24-03-2017 18:00</li>
      </ul>
    </div>
  </perfect-scrollbar>
</div>