<footer>


  <div class="row footer-li">
    <div class="col-md-4 col-sm-12">
      <p>
        Provispo © 2007-2016. All rights reserved.
      </p>
    </div>
    <div class="col-md-8 col-sm-12">


      <ul class="list-inline privacy social">
        <li><img src="assets/images/footer-logo.png" alt="Provispo Footer Logo" /></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Software License Agreement</a></li>
        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      </ul>
      <ul class="list-inline social">

      </ul>
    </div>
  </div>
</footer>