
<div class="article-info">
		<div class="match-info match-status col-xs-12">
			<h2 class="title">Match Info</h2>
			<div class="match-club  clearfix">
				<div class="club-img"><img src="assets/images/img2.png" class="img-responsive"></div>
				<div class="club-content">
					<h2>Final - Cardiff</h2>
					<h4>Sunday 4 June</h4>
				</div>
				<div class="club-img"><img src="assets/images/img1.png" class="img-responsive"></div>
				<div class="clearfix match-result">
					<h1>1 - 4</h1>
				</div>
			</div>
			<div class="clearfix player-info">
				<div class="pull-left col-xs-6">
					<a href="#">Mandzukic 27'</a>
				</div>
				<div class="pull-right col-xs-6">
					<a href="#">20'.64' Ronaldo</a>
					<a href="#">61' Casemiro</a>
					<a href="#">90' +1 Asensio</a>
				</div>
			</div>
		</div>
		<div class="tactics match-status col-xs-12">
			<h2 class="title">Tactics</h2>
			<ul>
				<li>
					<div class="tactics-box">
						<img src="assets/images/tac3.png" class="img-responsive">
					</div>
					<p>Build ups</p>
				</li>
				<li>
					<div class="tactics-box">
						<img src="assets/images/tac2.png" class="img-responsive">
					</div>
					<p>Ball Lost</p>
				</li>
				<li>
					<div class="tactics-box">
						<img src="assets/images/tac1.png" class="img-responsive">
					</div>
					<p>Counter attacks</p>
				</li>
			</ul>
		</div>
		<div class="match-alerts match-status col-xs-12">
			<h2 class="title">Alerts</h2>
			<p>Final report, statistics and expert analysis
				Stats: Madrid and Ronaldo rewrite record books</p>
				<p>
				Four reasons why there was no stopping Madrid</p>
				<p>Ronaldo pips Messi to top scorer prize
				Ronaldo matches record of Iniesta and Seedorf
			</p>
		</div>
	</div>
<!--timeline -->
	<div class="main-content">
		<div class="video-box">
			<video width="100%" controls>
				<source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
			</video>
		</div>
		<div class="video-timeline">
			<div class="clearfix">
				
			</div>
			<div class="clearfix">
				<div class="pull-left">
					<ul>
						<li><i class="fa fa-step-forward" aria-hidden="true"></i></li>
						<li><i class="fa fa-forward" aria-hidden="true"></i></li>
						<li><i class="fa fa-play" aria-hidden="true"></i></li>
						<li><i class="fa fa-backward" aria-hidden="true"></i></li>
						<li><i class="fa fa-step-backward" aria-hidden="true"></i></li>
						<li class="info"><i class="fa fa-info" aria-hidden="true"></i></li>
						<li class="setting-icon"><i class="fa fa-cog" aria-hidden="true"></i></li>
						<li class="trash-icon"><i class="fa fa-trash-o" aria-hidden="true"></i></li>
						<li><i class="fa fa-list-ul" aria-hidden="true"></i></li>
					</ul>
				</div>
				<div class="pull-right">
					<div class="timeline-info">
						<i class="fa fa-files-o" aria-hidden="true"></i>Timeline
					</div>
				</div>
			</div>
		</div>
		<div class="video-select clearfix active">
			<div class="video-select-box">
				<div class="dropdown">
				  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-eye" aria-hidden="true"></i> Offence
				  </button>
				  <ul class="dropdown-menu">
				    <li><a href="#">HTML</a></li>
				    <li><a href="#">CSS</a></li>
				    <li><a href="#">JavaScript</a></li>
				  </ul>
				</div>
			</div>
			<!-- timeline preview -->
			<div class="video-select-timeline">
				<div class="video-line" style="left: 1%"></div>
				<div class="video-line" style="left: 1.2%"></div>
				<div class="video-line" style="left: 1.3%"></div>
				<div class="video-line" style="left: 1.4%"></div>
				<div class="video-line" style="left: 1.5%"></div>
				<div class="video-line" style="left: 1.53%"></div>
				<div class="video-line" style="left: 15%"></div>
				<div class="video-line" style="left: 34%"></div>
				<div class="video-line" style="left: 89%"></div>
			</div>
			<!-- end of timeline preview -->
		</div>
		<div class="video-select clearfix">
			<div class="video-select-box">
				<div class="dropdown">
				  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-eye" aria-hidden="true"></i> Offence
				 </button>
				  <ul class="dropdown-menu">
				    <li><a href="#">HTML</a></li>
				    <li><a href="#">CSS</a></li>
				    <li><a href="#">JavaScript</a></li>
				  </ul>
				</div>
			</div>
			<!-- timeline preview -->
			<div class="video-select-timeline">
				<div class="video-line" style="left: 1%"></div>
				<div class="video-line" style="left: 1.2%"></div>
				<div class="video-line" style="left: 15%"></div>
				<div class="video-line" style="left: 34%"></div>
				<div class="video-line" style="left: 89%"></div>
			</div>
			<!-- end of timeline preview -->
		</div>
		<div class="video-select clearfix">
			<div class="video-select-box">
				<div class="dropdown">
				  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-eye" aria-hidden="true"></i> Offence
				  </button>
				  <ul class="dropdown-menu">
				    <li><a href="#">HTML</a></li>
				    <li><a href="#">CSS</a></li>
				    <li><a href="#">JavaScript</a></li>
				  </ul>
				</div>
			</div>
			<!-- timeline preview -->
			<div class="video-select-timeline">
				<div class="video-line" style="left: 9%"></div>
				<div class="video-line" style="left: 1.2%"></div>
				<div class="video-line" style="left: 15%"></div>
				<div class="video-line" style="left: 34%"></div>
				<div class="video-line" style="left: 59%"></div>
			</div>
			<!-- end of timeline preview -->
		</div>
		<div class="video-select clearfix">
			<div class="video-select-box">
				<div class="dropdown">
				  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-eye" aria-hidden="true"></i> Offence
				  </button>
				  <ul class="dropdown-menu">
				    <li><a href="#">HTML</a></li>
				    <li><a href="#">CSS</a></li>
				    <li><a href="#">JavaScript</a></li>
				  </ul>
				</div>
			</div>
			<!-- timeline preview -->
			<div class="video-select-timeline">
				<div class="video-line" style="left: 3%"></div>
				<div class="video-line" style="left: 1.2%"></div>
				<div class="video-line" style="left: 15%"></div>
				<div class="video-line" style="left: 84%"></div>
				<div class="video-line" style="left: 89%"></div>
			</div>
			<!-- end of timeline preview -->
		</div>
		<div class="video-select clearfix">
			<div class="video-select-box">
				<div class="dropdown">
				  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-eye" aria-hidden="true"></i> Offence
				  </button>
				  <ul class="dropdown-menu">
				    <li><a href="#">HTML</a></li>
				    <li><a href="#">CSS</a></li>
				    <li><a href="#">JavaScript</a></li>
				  </ul>
				</div>
			</div>
			<!-- timeline preview -->
			<div class="video-select-timeline">
				<div class="video-line" style="left: 2%"></div>
				<div class="video-line" style="left: 1.2%"></div>
				<div class="video-line" style="left: 55%"></div>
				<div class="video-line" style="left: 34%"></div>
				<div class="video-line" style="left: 89%"></div>
			</div>
			<!-- end of timeline preview -->
		</div>
	</div>

<!-- end of timeline -->

	<div class="right-sidebar">
		<div class="match-info filters col-xs-12">
			<h2 class="title">
				Filters
				<img src="assets/images/filter-circle.png" alt="Circle" class="pull-right">
			</h2>
			
			<div class="match-club  search clearfix form-inline">
				<div class="form-group">
					<label class="control-label" for="inputSuccess4"></label>
					<input type="text" class="form-control" placeholder="Search">
					<span *ngIf="false"><img src="assets/images/search.png" alt="Search"></span>
				</div>
			</div>

			<div class="clearfix showing">
				<div>
					Showing <span> 1 to 10 </span> of 14 videos
					<span class="pull-right">
						<select>
							<option>5</option>
							<option>10</option>
							<option>15</option>
						</select>
						<img src="assets/images/extend.png" alt="Extend">
					</span>
				</div>
			</div>
		</div>
		<div class="events-list match-status col-xs-12">
			<h2 class="title">Event list</h2>
			<table>
				<tr>
					<td><img src="assets/images/img1.png" class="img-responsive"></td>
					<td>vs</td>
					<td><img src="assets/images/img2.png" class="img-responsive"></td>
				</tr>
				<tr>
					<td><img src="assets/images/img1.png" class="img-responsive"></td>
					<td>vs</td>
					<td><img src="assets/images/img2.png" class="img-responsive"></td>
				</tr>
			</table>
		</div>
		<div class="match-status playlist col-xs-12">
			<h2 class="title"><img src="assets/images/folder.png" alt="Folder">Playlist</h2>
			<div class="stats">
				<div class="playlist-info">
					<img src="assets/images/camera.png" alt="Camera">
					<span>Yellow_Card.mp4</span> <span class="playlist-time">00.13</span> 
					<img src="assets/images/more.png" alt="More" class="pull-right">
				</div>
				<div class="playlist-date">
					Friday, 9 June 2017
				</div>
				<hr>
			</div>
			<div class="stats">
				<div class="playlist-info">
					<img src="assets/images/camera.png" alt="Camera">
					<span>Yellow_Card.mp4</span> <span class="playlist-time">00.13</span> 
					<img src="assets/images/more.png" alt="More" class="pull-right">
				</div>
				<div class="playlist-date">
					Friday, 9 June 2017
				</div>
				<hr>
			</div>
			<div class="stats">
				<div class="playlist-info">
					<img src="assets/images/camera.png" alt="Camera">
					<span>Yellow_Card.mp4</span> <span class="playlist-time">00.13</span> 
					<img src="assets/images/more.png" alt="More" class="pull-right">
				</div>
				<div class="playlist-date">
					Friday, 9 June 2017
				</div>
				<hr>
			</div>
			<div class="stats">
				<div class="playlist-info">
					<img src="assets/images/camera.png" alt="Camera">
					<span>Yellow_Card.mp4</span> <span class="playlist-time">00.13</span> 
					<img src="assets/images/more.png" alt="More" class="pull-right">
				</div>
				<div class="playlist-date">
					Friday, 9 June 2017
				</div>
				<hr>
			</div>
		</div>
		<div class="match-status playlist col-xs-12">
			<h2 class="title"><img src="assets/images/folder.png" alt="Folder">Second half</h2>
			<div class="stats">
				<div class="playlist-info">
					<img src="assets/images/camera.png" alt="Camera">
					<span>Yellow_Card.mp4</span> <span class="playlist-time">00.13</span> 
					<img src="assets/images/more.png" alt="More" class="pull-right">
				</div>
				<div class="playlist-date">
					Friday, 9 June 2017
				</div>
				<hr>
			</div>
			<div class="stats">
				<div class="playlist-info">
					<img src="assets/images/camera.png" alt="Camera">
					<span>Yellow_Card.mp4</span> <span class="playlist-time">00.13</span> 
					<img src="assets/images/more.png" alt="More" class="pull-right">
				</div>
				<div class="playlist-date">
					Friday, 9 June 2017
				</div>
				<hr>
			</div>
			<div class="stats">
				<div class="playlist-info">
					<img src="assets/images/camera.png" alt="Camera">
					<span>Yellow_Card.mp4</span> <span class="playlist-time">00.13</span> 
					<img src="assets/images/more.png" alt="More" class="pull-right">
				</div>
				<div class="playlist-date">
					Friday, 9 June 2017
				</div>
				<hr>
			</div>
			<div class="stats">
				<div class="playlist-info">
					<img src="assets/images/camera.png" alt="Camera">
					<span>Yellow_Card.mp4</span> <span class="playlist-time">00.13</span> 
					<img src="assets/images/more.png" alt="More" class="pull-right">
				</div>
				<div class="playlist-date">
					Friday, 9 June 2017
				</div>
				<hr>
			</div>
		</div>
	</div>